$auxiliary-black: rgba(40, 38, 46, 1);
$auxiliary-black-opacity: rgba(0, 0, 0, 0.2);

$auxiliary-gray: rgba(196, 196, 196, 1);
$auxiliary-gray-light: rgba(223, 221, 221, 1);

$auxiliary-green: rgba(85, 174, 88, 1);
$auxiliary-pink: rgba(250, 118, 157, 1);
$auxiliary-red: rgba(205, 53, 41, 1);
$auxiliary-white: rgba(255, 255, 255, 1);

$auxiliary-yellow: rgba(252, 207, 127, 1);
$auxiliary-yellow: rgba(252, 207, 127, 1);

$primary-blue: rgba(62, 92, 162, 1);
$primary-blue-dark: rgba(4, 18, 88, 1);
$primary-blue-light: rgba(143, 163, 211, 1);
$primary-blue-opacity: rgba(4, 18, 88, 0.4);

$secondary-yellow: rgba(247, 204, 70, 1);
$secondary-yellow-opacity: rgba(247, 204, 70, 0.9);

$types-bug: rgba(155, 186, 72, 1);
$types-dark: rgba(89, 87, 97, 1);
$types-dragon: rgba(44, 106, 193, 1);
$types-eletric: rgba(238, 217, 103, 1);
$types-fairy: rgba(226, 150, 225, 1);
$types-fighting: rgba(196, 77, 97, 1);
$types-fire: rgba(239, 169, 93, 1);
$types-flying: rgba(166, 187, 232, 1);
$types-gost: rgba(97, 110, 183, 1);
$types-grass: rgba(120, 186, 100, 1);
$types-ground: rgba(206, 128, 86, 1);
$types-ice: rgba(139, 206, 193, 1);
$types-normal: rgba(160, 162, 159, 1);
$types-poison: rgba(172, 106, 202, 1);
$types-psychic: rgba(235, 139, 133, 1);
$types-rock: rgba(139, 206, 193, 1);
$types-steel: rgba(101, 148, 161, 1);
$types-water: rgba(100, 156, 218, 1);

$gradients-gradient-01: url("/bg-pattern.svg"),
  linear-gradient(180deg, $primary-blue 0%, #143685 100%);

$gradients-gradient-02: url("/bg-pattern-white.svg"), #fff;
