* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media(max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 720px) {
  html {
    font-size: 87.50%;
  }
}

body, input, textarea, button {
  font: 500 1rem 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: 'Potta One', cursive;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button, a {
  cursor: pointer;
}

a {
  display: block;
}

button {
  outline: none;
  background: none;
  border: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(143, 163, 211, 1) rgba(62, 92, 162, 1);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgba(62, 92, 162, 1);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(143, 163, 211, 1);
  border-radius: 5px;
  border: 3px solid rgba(62, 92, 162, 1);
}