@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.who {
  display: flex;
}

.bluePart {
  min-width: 350px;
  height: 100vh;
  background: $gradients-gradient-01;

  h1 {
    position: absolute;
    top: 130px;
    color: $secondary-yellow;
    margin-left: 24px;
  }

  .pokemon {
    filter: brightness(0);
    width: 95%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
    margin: auto;
  }

  @media (max-width: 1169px) {
    width: 100vw;
    min-height: 100%;

    h1 {
      top: 20px;
      right: 24px;
    }

    .pokemon {
      width: 200px;
      height: 250px;
      margin-top: 70px;
    }
  }
}

.yellowPart {
  background: $secondary-yellow;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .blocksName {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 0.1;

    p {
      @include potta-one-regular-36-20;
      text-transform: uppercase;
      color: $primary-blue-dark;

      width: 50px;
      height: 60px;

      border-radius: 4px;
      letter-spacing: 0;
      background-color: $auxiliary-white;
      text-align: center;

      &:empty{
        background-color: $primary-blue-light;
      }
    }

    p + p {
      margin-left: 10px;
    }
  }

  .heart {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 215px;
    }

    span {
      @include potta-one-regular-80;
      color: $auxiliary-white;
      position: absolute;
    }
  }

  .keyboard {
    background-color: $auxiliary-white;
    width: 620px;
    height: 265px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .lines {
      display: flex;
      justify-content: center;
    }

    .line + .line {
      margin-top: 15px;
    }

  }

  .btPokeball {
    background-color: $auxiliary-gray-light;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;

    &:disabled {
      opacity: 0.5;
    }
    
    img {
      width: 40px;
      height: 40px;
    }

    p {
      background-color: $primary-blue;
      color: $secondary-yellow;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      position: absolute;
      margin: -20px 0 0 30px;
      line-height: 25px;
    }
  }

  @media (max-width: 1169px) {
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-radius: 40px 40px 0 0;

    .keyboard {
      width: 100vw;
      border-radius: 40px 40px 0 0;
      height: 200px;
    }

    .heart {
      width: 100px;
      position: absolute;
      bottom: 160px;
      
      span {
        font-size: 45px;
      }
    }

    .blocksName {
      margin-top: 20px;
      width: 100%;
      margin-bottom: 60px;

      p {
        font-size: 26px;
        width: 40px;
        height: 50px;
        line-height: 50px;
        margin: 5px;
      }
    }

    .btPokeball{
      position: absolute;
      margin-top: 90px;
      right: 10px;
      width: 45px;
      height: 45px;

      img {
        width: 30px;
        height: 30px;
      }

      span {
        width: 15px;
        height: 15px;
      }

    }
  }
}
