@import "../styles/colors.scss";
@import "../styles/fonts.scss";

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $gradients-gradient-01;

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 52px;
  }

  h1,
  h2 {
    color: $secondary-yellow;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $primary-blue;
  }

  span {
    @include open-sans-semibold-16px;
    color: $secondary-yellow;
    position: absolute;
    bottom: 10%;
    right: 15%;

    a {
      color: $secondary-yellow;
    }
  }

}
