@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.container {
  width: 270px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 60px;
  
  h2 {
    @include potta-one-regular-36;
    color: $auxiliary-white;
  }
}
